
@import "bootstrap/functions";
@import "bootstrap/variables";

//
// Grid mixins
//

@import "bootstrap/mixins/breakpoints";


// including variables and mixins
@import "theme/variables";
@import "theme/mixins";
@import "theme/flexbox";
@import "theme/reset";


// Custom Scss 
@import "theme/elements";
@import "theme/header";
@import "theme/home";
@import "theme/footer";
.single-project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
}

.content-image {
  height: 250px;
  object-fit: cover;
  width: 100%;
  border-radius: 6px;
}

.details {
  margin-top: auto;
}

.content-details {
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  text-align: center;
}
